<!-- Validation failure messages -->
<% if @my_gift_card.errors.any? %>
  <% @my_gift_card.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit My Gift Card #<%= @my_gift_card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_my_gift_card/<%= @my_gift_card.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for place_id -->
      <div class="form-group">
        <label for="place_id" class="control-label">
          Place
        </label>

        <%= select_tag(:place_id, options_from_collection_for_select(Place.all, :id, :place_name, @my_gift_card.place_id), :class => "form-control") %>
      </div>

      <!-- Label and input for expiration_date -->
      <div class="form-group">
        <label for="expiration_date" class="control-label">
          Expiration date
        </label>

        <input type="text" id="expiration_date" name="expiration_date" placeholder="Expiration date" class="form-control" value="<%= @my_gift_card.expiration_date %>">
      </div>

      <!-- Label and input for card_image -->
      <div class="form-group">
        <label for="card_image" class="control-label">
          Card image
        </label>

        <input type="text" id="card_image" name="card_image" placeholder="Card image" class="form-control" value="<%= @my_gift_card.card_image %>">
      </div>

      
      

      <button class="btn btn-warning">
        Update My Gift Card
      </button>
      or
      <a href="/my_gift_cards/<%= @my_gift_card.id %>">Cancel</a>
    </form>
  </div>
</div>
