<div class="page-header">
  <h1>
    My gift cards
    <a href="/my_gift_cards/new" class="btn btn-lg btn-success">New My gift card</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Place</th>
        <th>Expiration date</th>
        <th>Card image</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @my_gift_cards.each do |my_gift_card| %>
      <tr>
        <td>
          <% if my_gift_card.place.present? %>
            <a href="/places/<%= my_gift_card.place.id %>">
              <%= my_gift_card.place.place_name %>
            </a>
          <% end %>
        </td>
        <td><%= my_gift_card.expiration_date %></td>
        <td><img src='<%= my_gift_card.card_image %>' class='img-responsive'></td>
        <td>
          <% if my_gift_card.user.present? %>
            <a href="/users/<%= my_gift_card.user.id %>">
              <%= my_gift_card.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/my_gift_cards/<%= my_gift_card.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == my_gift_card.user %>
            <a href="/my_gift_cards/<%= my_gift_card.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_my_gift_card/<%= my_gift_card.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @my_gift_cards, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
