<div class="page-header">
  <h3>My Gift Card #<%= @my_gift_card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Place</dt>
      <dd>
        <% if @my_gift_card.place.present? %>
          <a href="/places/<%= @my_gift_card.place_id %>">
            <%= @my_gift_card.place.place_name %>
          </a>
        <% end %>
      </dd>

      <dt>Expiration date</dt>
      <dd><%= @my_gift_card.expiration_date %></dd>

      <dt>Card image</dt>
      <dd><img src="<%= @my_gift_card.card_image %>" class="img-responsive"></dd>

      <dt>User</dt>
      <dd>
        <% if @my_gift_card.user.present? %>
          <a href="/users/<%= @my_gift_card.user_id %>">
            <%= @my_gift_card.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/my_gift_cards" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @my_gift_card.user %>
        <a href="/my_gift_cards/<%= @my_gift_card.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_my_gift_card/<%= @my_gift_card.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
