<div class="page-header">
  <h3>Deal #<%= @deal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Discount type</dt>
      <dd><%= @deal.discount_type %></dd>

      <dt>Terms of deal</dt>
      <dd><%= @deal.terms_of_deal %></dd>

      <dt>Day of week</dt>
      <dd><%= @deal.day_of_week %></dd>

      <dt>Place</dt>
      <dd><%= @deal.place_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/deals" class="btn btn-primary">
        Back
      </a>
      <a href="/deals/<%= @deal.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_deal/<%= @deal.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
