<div class="page-header">
  <h3>Place #<%= @place.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Place name</dt>
      <dd><%= @place.place_name %></dd>

      <dt>Address</dt>
      <dd><%= @place.address %></dd>

      <dt>City</dt>
      <dd><%= @place.city %></dd>

      <dt>State</dt>
      <dd><%= @place.state %></dd>

      <dt>Zip</dt>
      <dd><%= @place.zip %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @place.neighborhood_id %></dd>

      <dt>Place type</dt>
      <dd><%= @place.place_type_id %></dd>

      <dt>User</dt>
      <dd><%= @place.user_id %></dd>

      <dt>Comments</dt>
      <dd><%= @place.comments %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/places" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @place.user %>
        <a href="/places/<%= @place.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_place/<%= @place.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Place has many deals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Deals
      </li>

      <% @place.deals.each do |deal| %>
        <li class="list-group-item">
          <a href="/deals/<%= deal.id %>">
            <%= deal.discount_type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/deals/<%= deal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/deals/<%= deal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_deal/<%= deal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Place has many my_gift_cards -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        My_gift_cards
      </li>

      <% @place.my_gift_cards.each do |my_gift_card| %>
        <li class="list-group-item">
          <a href="/my_gift_cards/<%= my_gift_card.id %>">
            <%= my_gift_card.place_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/my_gift_cards/<%= my_gift_card.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/my_gift_cards/<%= my_gift_card.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_my_gift_card/<%= my_gift_card.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
